@media only screen and (max-width: 750px) {
    .service_card_container{
        width: 100%;
        height: fit-content;
        overflow-x: auto;
    }
    .services_card_holder{
        width: fit-content;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 15px;
    }
    .service_card_container::-webkit-scrollbar{
        display: none;
    }
}
@media only screen and (min-width: 750px) and (max-width: 1000px) {
    .service_card_container{
        width: 100%;
        height: fit-content;
        overflow-x: auto;
    }
    .services_card_holder{
        width: fit-content;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 15px;
    }
    .service_card_container::-webkit-scrollbar{
        display: none;
    }
}
@media only screen and (min-width: 1000px) {
    .service_card_container{
        width: 100%;
        height: fit-content;
        overflow-x: auto;
    }
    .services_card_holder{
        width: fit-content;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 15px;
    }
    .service_card_container::-webkit-scrollbar{
        height: 10px;
        cursor: pointer;
      }
      .service_card_container::-webkit-scrollbar-track{
        background-color: rgb(216, 216, 216);
      }
      .service_card_container::-webkit-scrollbar-thumb{
        width: 5px;
        height: 5px;
        border-radius: 5px;
        background-color: rgba(65, 158, 166, 255);
      }
}